*.a
.atext
*.exe
*.lst
*.o
*.obj
*.so
.dub
.history
.purr
.vscode
.vscode
__dummy.html
a.out
app
callgrind*
*.profdata
*.profraw
dlang
dub.selections.json
dub_platform_probe*
UnicodeData.txt
out*
bin
/lib
perf*
proj
remake
test.*
tmp
trace.*
*.json
vgcore*
vscode
*.map
Aspen.toml
.history
.repl
gwion-benchmark
.DS_Store
profile.raw
profile.data
cosmopolitan.a
cosmopolitan.h
ape.lds
ape.o
ape-no-modify-self.o
crt.o
cosmopolitan.zip
*.dylib
*.asm
dump.rdb
crash-*
oom-*
*.core
*.dep
aoc/*.txt
default.prof
save.vm
tiny_sk.bf