.dub
docs.json
__dummy.html
docs/
d9c*
d9c.so
d9c.dylib
d9c.dll
d9c.a
d9c.lib
d9c-test-*
*.exe
*.o
*.obj
*.lst
dub.selections.json
out*
trace.*
.vscode
dub_platform_probe*
perf*
vgcore*
callgrind*
./data
world/*
bf
dadv
dadventure