*.a
*.exe
*.lst
*.o
*.obj
*.so
.dub
*.log
.history
.purr
.vscode
.vscode
__dummy.html
a.out
app
callgrind*
default.profdata
default.profraw
dlang
dub.selections.json
dub_platform_probe*
UnicodeData.txt
out*
bin
/lib
perf*
proj
remake
test.*
tmp
trace.*
*.json
vgcore*
vscode
*.map
Aspen.toml
.history
.repl
gwion-benchmark
.DS_Store
profile.raw
profile.data
node_modules